.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.897949;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.241482,0.000000,-0.064703,0.241482,0,0);-ms-transform:matrix(0.241482,0.000000,-0.064703,0.241482,0,0);-webkit-transform:matrix(0.241482,0.000000,-0.064703,0.241482,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-11.880000px;}
._0{margin-left:-2.592000px;}
._2{margin-left:-1.260000px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(192,192,192);}
.fs6{font-size:48.000000px;}
.fs5{font-size:60.000000px;}
.fs4{font-size:68.000000px;}
.fs2{font-size:74.539714px;}
.fs1{font-size:160.000000px;}
.fs0{font-size:216.000000px;}
.fs3{font-size:264.000000px;}
.y0{bottom:73.500000px;}
.y8{bottom:85.600000px;}
.y6{bottom:90.500000px;}
.y7{bottom:106.700000px;}
.y5{bottom:168.600000px;}
.y4{bottom:250.900000px;}
.y3{bottom:277.500000px;}
.y1{bottom:332.500000px;}
.y2{bottom:335.200000px;}
.h8{height:38.742188px;}
.h7{height:48.427734px;}
.h6{height:54.884766px;}
.h4{height:60.163158px;}
.h3{height:129.140625px;}
.h2{height:174.339844px;}
.h5{height:213.082031px;}
.h1{height:316.000000px;}
.h0{height:419.527559px;}
.w1{width:254.500000px;}
.w0{width:297.609449px;}
.x0{left:21.500000px;}
.x3{left:30.900000px;}
.x4{left:36.700000px;}
.x2{left:44.000000px;}
.x1{left:46.700000px;}
.x6{left:59.400000px;}
.x5{left:80.300000px;}
.x8{left:195.800000px;}
.x7{left:196.900000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-15.840000pt;}
._0{margin-left:-3.456000pt;}
._2{margin-left:-1.680000pt;}
.fs6{font-size:64.000000pt;}
.fs5{font-size:80.000000pt;}
.fs4{font-size:90.666667pt;}
.fs2{font-size:99.386285pt;}
.fs1{font-size:213.333333pt;}
.fs0{font-size:288.000000pt;}
.fs3{font-size:352.000000pt;}
.y0{bottom:98.000000pt;}
.y8{bottom:114.133333pt;}
.y6{bottom:120.666667pt;}
.y7{bottom:142.266667pt;}
.y5{bottom:224.800000pt;}
.y4{bottom:334.533333pt;}
.y3{bottom:370.000000pt;}
.y1{bottom:443.333333pt;}
.y2{bottom:446.933333pt;}
.h8{height:51.656250pt;}
.h7{height:64.570312pt;}
.h6{height:73.179688pt;}
.h4{height:80.217543pt;}
.h3{height:172.187500pt;}
.h2{height:232.453125pt;}
.h5{height:284.109375pt;}
.h1{height:421.333333pt;}
.h0{height:559.370079pt;}
.w1{width:339.333333pt;}
.w0{width:396.812598pt;}
.x0{left:28.666667pt;}
.x3{left:41.200000pt;}
.x4{left:48.933333pt;}
.x2{left:58.666667pt;}
.x1{left:62.266667pt;}
.x6{left:79.200000pt;}
.x5{left:107.066667pt;}
.x8{left:261.066667pt;}
.x7{left:262.533333pt;}
}
